poster{z-index: 99;}
poster img {
    max-height:100%;
    max-width:100%;
    box-shadow:10px 10px  #888888;
    position:fixed;
    left:50%; 
    top:50%;
    transform:translate(-50%, -50%);
    animation-name:nirini;
    animation-duration:10s;
}

@keyframes nirini{
    0% {left:50%; top:50%;}
    10%{left:50%; top:15%;}
    20% {left:80%; top:15%;}
    40% {left:80%; top:80%;}
    60% {left:20%; top:80%;}
    80% {left:20%; top:15%;}
    90% {left:50%; top:15%;}
    100% {left:50%; top:50%;}
}